h1 {
    font: bold 600%; 
    font-family: 'Indie Flower', cursive;  
    color: rebeccapurple;
}

legend {
    font-family: 'Dancing Script', cursive;  
}

label {
    font-family: 'Combo', cursive;
}

